extends layout

block content
  p Welcome to ReposituriUM(alpha)

  p Please select the operation you wish to do

  a(href='/login') Login

  p 

  a(href='/logs') Logs

  p To do: add other operations

  pre=schema
