extends ../layout

block content
  p Username #{user.username}
  p
  p Email #{user.email}
  p
  p Password "Not shown for privacy reasons"
  p
  p salt "idem"
  p
  p group #{user.group}
  p
  p approved #{user.approved}
